body{
    color: rgb(54, 39, 59);
    background-color: rgb(189, 167, 202);
}
.heading{
    width: 80%;
    font-size: 32px;
}
#camera{
    border: 2px dashed rgb(61, 95, 97);
    width: 350px;
    height: 300px;
}
.name_of_objects, #result_object_name, #result_object_accuracy{
color: rgb(50, 44, 54);

}